{% extends 'base.html.twig' %}

{% block title %}Log In Page{% endblock %}
{% block body %}

<body class="text-center" style="background:#EAC7C7;">
    
<main class="form-signin w-50 m-auto" style="display:flex; justify-content:center; align-items:center;">
  <form action="" method="post" style="width:400px; margin-top:30px;">
    <h2>Cloth<i>Ng</i></h2>
    <h2 class="h3 mb-3 fw-normal">Log In</h2>
    <p style="color:red;">
    {% if failed == true %}
    Login Failed!
    {% endif %}
    </p>
    <div class="form-floating" style="margin-bottom:10px;">
      <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating" style="margin-bottom:10px;">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit" style="background:#1A120B; color:white;">Log In</button>
    <p class="mt-5 mb-3 text-muted">© 2022–2023</p>
  </form>
</main>

</body>
{% endblock %}